<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hof Lühts</title>
    <meta name="description" content="Hof Lühts - Erfahren und Erfinderisch seit 1567"/>
    <meta name="keywords" content="Eier, Twistringen, Hofladen, Freiland, Bodenhaltung, Kartoffeln, Nudeln"/>
    <meta name="robots" content="follow"/>
    <link rel="stylesheet" href="css/main.css">
    <script async src="https://offen.siemers.media/script.js" data-account-id="8101a192-3e60-40e3-a19e-0c581d7a0e96"></script>
    {% include favicon.html %}
  </head>
  <body>
    <h1><img src="assets/images/LOGO_HOF-LUEHTS_DUNKEL.png" alt="Logo" class="center"></h1>
    <h2><img src="assets/images/LOGO_HOF-LUEHTS_WWW-SLOGAN.png" alt="Untertitel" class="center"></h2>
  </body>
</html>
